<span class="profile_title">Work Experience <%= link_to "+ Add New Experience", new_user_profile_workexperience_path(current_user), :class => "add_edit_link" %></span>
<hr class="section_seperator" align="right" width="900px"><br>
<div id="list_workexperiences">
  <% @profile.workexperiences.each do |f| %>
      <div class="workexperience_fieldsremovable">
        <div class="left_side">
            <% if f.avatar? %>
              <%= image_tag f.avatar.url(:small) %>
            <% else %>
              <%= image_tag ("/images/ico_unknown_project.png") %>
            <% end %>
        </div>
        <div class="right_side">
          <!-- Company Name -->
          <span class="highlight title"%><%= f.company %></span>
          <%= link_to "Edit", edit_user_profile_workexperience_path(current_user, f.id), :class => "add_edit_link_smaller" %>
          <%= link_to "Delete", user_profile_workexperience_path(current_user, f.id), :class => "remote-delete" %><br>

          <span class="headline"><%= f.job_title %></span><br>
          <span class="date">
            <%= f.start_date.strftime("%B %Y") %> &rarr; 
            <% if f.end_date %>
              <%= f.end_date.strftime("%B %Y") %>
            <% else %>
              Present
            <% end %> | <%= f.city %>, <%= f.country %>
          </span><br>
          
          <%= simple_format(f.mission_description) %>
          <!-- Skills List -->
            <% f.skills.each do |s| %>
              <div class="one_skill"><%= s.skill_name %></div>
            <% end %>  
            <br><br>         
        </div>  
        
        <hr class="content_separator" align="right">
        <br><br>
      </div>
      
    <% end %>
</div>
<br/><br>
  
