<div id="anchor_tab">
  <div class="one_anchor"><%= link_to_function image_tag('/images/anchor_skill.png', :mouseover => '/images/anchor_skill_hover.png' ), "go_to_anchor('0')" %></div>
  <div class="one_anchor"><%= link_to_function image_tag('/images/anchor_work_experience.png', :mouseover => '/images/anchor_work_experience_hover.png' ), "go_to_anchor('1')" %></div>
  <div class="one_anchor"><%= link_to_function image_tag('/images/anchor_personal_project.png', :mouseover => '/images/anchor_personal_project_hover.png' ), "go_to_anchor('2')" %></div>
  <div class="one_anchor"><%= link_to_function image_tag('/images/anchor_education.png', :mouseover => '/images/anchor_education_hover.png' ), "go_to_anchor('3')" %></div>
  <div class="one_anchor"><%= link_to_function image_tag('/images/anchor_languages.png', :mouseover => '/images/anchor_languages_hover.png' ), "go_to_anchor('4')" %></div>
  <div class="one_anchor"><%= link_to_function image_tag('/images/anchor_hobbies.png', :mouseover => '/images/anchor_hobbies_hover.png' ), "go_to_anchor('5')" %></div>
</div><br>

<!-- Skills Section -->
<div id="profile_resume_skillcategories">
  <%= render "skillcategories/profile_resume_skillcategories"%>
</div>
<div id="profile_resume_workexperiences">
  <%= render "workexperiences/profile_resume_workexperiences"%>
</div>
<div id="profile_resume_projects">
  <%= render "projects/profile_resume_projects"%>
</div>
<div id="profile_resume_schools">
  <%= render "schools/profile_resume_schools"%>
</div>
<div id="profile_resume_languages">
  <%= render "languages/profile_resume_languages"%>
</div>
<div id="profile_resume_hobbies">
  <%= render "hobbies/profile_resume_hobbies"%>
</div>