<div id="profile_aboutme_description">
    <span class="profile_title">Who am I 
      <% if edit_profile %>
        <%= link_to "+ Edit", edit_user_profile_path(current_user), :class => "add_edit_link" %>
      <% end %>  
    </span>
    <hr class="section_seperator" align="right" width="520px"><br>
      <%= simple_format(@profile.about_me_description) %><br/><br/><br/>

    <span class="profile_title">What am I looking for 
      <% if edit_profile %>
        <%= link_to "+ Edit", edit_user_profile_path(current_user), :class => "add_edit_link" %>
      <% end %>  
    </span>
    <hr class="section_seperator" align="right" width="520px"><br>
      <%= simple_format(@profile.search_description) %>
    <br/>
</div>

 <div id="profile_aboutme_rightside">
    <div id="profile_aboutme_socialnetwork">
      <%= render "socialnetworks/profile_aboutme_socialnetworks", :edit_profile => edit_profile %>
    </div>
    <br>
    <div id="profile_aboutme_recommendations">
      <%= render "recommendations/profile_aboutme_recommendations", :edit_profile => edit_profile %>
    </div>
    
</div>