<script>
$(document).ready(function() {
  if ($.cookie('tabname') == null) {
    tab_to_display('profile_aboutme');
  } else {
    tab_to_display($.cookie('tabname'));
  }  
});
</script>


<div id="profile_header">
  <div id="profile_header_idcard">
        <div id="profile_header_idcard_photo">
          <% if @profile.photo? %>
            <%= image_tag @profile.photo.url(:small) %>
          <% else %>
            <%= image_tag ("/images/ico_unknown_user.png") %>
          <% end %>  
        </div>
        <div id="profile_header_idcard_description">
          <span class="profile_fullname"><%= current_user.firstname %> <%= current_user.lastname %></span> <%= link_to "+ Edit", edit_user_profile_path(current_user), :class => "add_edit_link", :id => "edit_profile" %>
            <ul>
              <li><span class="profile_headline"><%= @profile.head_description %></span></li>
              <li><%= @profile.second_description %></li> <br>
              <li><%= image_tag ("/images/ico_email.png") %> <%= current_user.email %></li>
              <% if !@profile.phone.blank? %>
                <li><%= image_tag ("/images/ico_phone.png") %> <%= @profile.phone %></li>
              <% end %>    
            </ul>
        </div> 
        <div id="profile_hader_idcard_view_profile">
          <%= link_to image_tag("/images/button_view_profile.png", :mouseover => "/images/button_view_profile_hover.png"), root_url + @profile.link, :id => "view_profile" %>
        </div>
        <div id="profile_hader_idcard_public_link">
          <%= link_to root_url + @profile.link, root_url + @profile.link %>
        </div>
  </div>
</div>
<br>
<div id="profile_tab">
  <span class="one_tab_empty">
  </span>
  <span class="profile_aboutme one_tab">
    <%= link_to_function image_tag("/images/tab_aboutme.png"), "tab_to_display('profile_aboutme')" %>
  </span>
  <span class="profile_resume one_tab">
     <%= link_to_function image_tag("/images/tab_resume.png"), "tab_to_display('profile_resume')" %>
  </span>
  <span class="profile_portfolio one_tab">
    <%= link_to_function image_tag("/images/tab_portfolio.png"), "tab_to_display('profile_portfolio')" %>
  </span>
  <span class="one_tab_empty_end">
  </span>
</div>


<div id="profile_content">
  <div class="show">
    <div id="profile_aboutme"><%= render "profiles/profile_aboutme", :edit_profile => true %></div>
  </div>
  <div class="hide">
    <div id="profile_resume"><%= render "profiles/profile_resume", :edit_profile => true %></div>
  </div>
  <div class="hide">
    <div id="profile_portfolio"><%= render "profiles/profile_portfolio", :edit_profile => true %></div>
  </div>
</div>

