<span class="profile_title">Languages <%= link_to "+ Add", new_user_profile_language_path(current_user), :class => "add_edit_link" %></span>
<hr class="section_seperator" align="right" width="900px"><br>
<div id="list_languages">
  <% @profile.languages.each do |f| %>
      <div class="language_fieldsremovable">
        <div class="left_side">
            <%= f.level %>
        </div>
        <div class="right_side">
          <span class="highlight title"%><%= f.name %></span>
          <%= link_to "Edit", edit_user_profile_language_path(current_user, f.id), :class => "add_edit_link_smaller" %>
          <%= link_to "Delete", user_profile_language_path(current_user, f.id), :class => "remote-delete" %>
          <br>
          <%=  simple_format(f.additional_information) %>
        </div>  
        <hr class="content_separator" align="right">      
        
        <br><br>
      </div>
      
    <% end %>
</div>
<br/><br>
  
