<div class="edit_form">
<span class="profile_title">Languages</span>
  <hr class="edit_section_seperator" align="left" width="840px">
  <br/>
  <% if flash[:error] %>
    <span class="profile_header_flash"><%= image_tag("/images/ico_error.png") %><%= flash[:error] %></span><br><br>
  <% end %>
  <%= form_for @language, :url => user_profile_languages_path do |f| %>
    <%= f.label :name, "Language" %> :<br> <%= f.text_field :name %><br>
    <span class="field_error_msg"><%= display_error(@language, 'name') %></span><br>

    <%= f.label :level %> :<br> <%= f.text_field :level %><br>
    <span class="field_error_msg"><%= display_error(@language, 'level') %></span><br>

    <%= f.label :additional_information %> :<br> <%= f.text_area :additional_information, :rows => "5", :cols => "40" %><br>
    <br><br>

    <div class="edit_submit_field">
          <%= link_to image_tag("/images/button_cancel.png", 
                  :mouseover => "/images/button_cancel_hover.png"), show_edit_user_profile_path(current_user) %>         
          <%= image_submit_tag "/images/button_save_changes.png", 
                  :onmouseover => "this.src='/images/button_save_changes_hover.png'", 
                  :onmouseout => "this.src='/images/button_save_changes.png'" %>         
    </div>
  <% end %>
</div>    