<span class="profile_title">Contact Me 
  <% if edit_profile %>
    <%= link_to "+ Edit", edit_user_profile_socialnetwork_path(current_user), :class => "add_edit_link" %>
  <% end %>  
</span>
<hr class="section_seperator" align="right" width="310px">
<br/>

<% if @profile.socialnetwork %>
  <div id="profile_aboutme_socialnetwork_photo">
    <% if @profile.socialnetwork.resume? %>
      <%= link_to image_tag(@profile.socialnetwork.resume.url(:small)), @profile.socialnetwork.resume.url(:original, false) %>
    <% else %>
      <%= image_tag "/images/ico_unknown_resume.png" %>
    <% end %>
  </div>
  <div id="profile_aboutme_socialnetwork_links">  
    <br>
    <span class="socialnetwork_title">Resume</span><br>
    <% if @profile.socialnetwork.resume? %>
      <%= link_to "Download", @profile.socialnetwork.resume.url(:original, false) %>
    <% else %>
      <em>Not yet uploaded</em>
    <% end %>  
    <br><br><hr><br>
    <span class="socialnetwork_title">Social Networks</span><br>
    <ul>
      <% if @profile.socialnetwork.twitter_link.blank? == false %>
          <li><%= link_to image_tag("/images/ico_twitter.png"), url_with_protocol(@profile.socialnetwork.twitter_link) %></li>
      <% end %>  
      <% if @profile.socialnetwork.facebook_link.blank? == false %>
          <li><%= link_to image_tag("/images/ico_facebook.png"), url_with_protocol(@profile.socialnetwork.facebook_link) %></li>
      <% end %>
      <% if @profile.socialnetwork.linkedin_link.blank? == false %>
          <li><%= link_to image_tag("/images/ico_linkedin.png"), url_with_protocol(@profile.socialnetwork.linkedin_link)  %></li>
      <% end %>  
      <% if @profile.socialnetwork.viadeo_link.blank? == false %>
          <li><%= link_to image_tag("/images/ico_viadeo.png"), url_with_protocol(@profile.socialnetwork.viadeo_link) %></li>   
      <% end %>    
      <% if @profile.socialnetwork.reachjobs_link.blank? == false %>
          <li><%= link_to image_tag("/images/ico_reachjobs.png"), url_with_protocol(@profile.socialnetwork.reachjobs_link) %></li>
      <% end %>
      <% if @profile.socialnetwork.skype_link.blank? == false %>    
          <li><%= link_to image_tag("/images/ico_skype.png"), url_with_protocol(@profile.socialnetwork.skype_link) %></li>
      <% end %>    
    </ul>
    <br><hr>
  </div>  
<% end %>
