<%= render "shared/head_description" %>
<br/>

<div id="password_form">
    <h2>Forgot Your Password?</h2>

    <em>Please enter your email adress account in order to send you password modification instructions.</em>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :email %> : <%= f.email_field :email %><br/><br/>

      <%= f.submit "Submit", :class => "sign_in_button" %>
    <% end %>

</div>
<br/>
<br/>