<script>
  $(document).ready(function() {
    $('.skill_autocomplete').each(function(){
        $(this).autocomplete({lookup:<%= raw @skills %>});
      });

    $('div.one_skill').find('input').each(function(){ 
        $(this).attr('size', $(this).val().length); 
      });
  });
</script>

<% @category_position = 0 %>
<span class="profile_title">Skills <%= link_to_add_fields("+Add Skill Category", p, :skillcategories, "resume") %></span>
<hr class="section_seperator" align="right" width="900px"><br>
<div id="list_skillcategories">
  <%= p.fields_for :skillcategories do |f| %>
      <%= render "shared/profile_resume_skillcategories",  :f => f %>
      <% @category_position = @category_position + 1 %>
  <% end %>
</div>
<br/>

<span class="profile_title">Work Experience <%= link_to_add_fields("+Add Work Experience", p, :workexperiences, "resume") %></span>
<hr class="section_seperator" align="right" width="900px"><br>
<div id="list_workexperiences">
  <% @workexperience_position = 0 %>
  <%= p.fields_for :workexperiences do |f| %>
      <%= render "shared/profile_resume_workexperiences",  :f => f %>
      <% @workexperience_position = @workexperience_position + 1 %>
  <% end %>
</div>

<span class="profile_title">Personal Projects</span><span class="add_section"></span>
<hr class="section_seperator" align="right" width="900px">

<span class="profile_title">Education</span><span class="add_section"></span>
<hr  class="section_seperator"align="right" width="900px">

<span class="profile_title">Languages</span><span class="add_section"></span>
<hr class="section_seperator" align="right" width="900px">

<span class="profile_title">Hobbies</span><span class="add_section"></span>
<hr class="section_seperator" align="right" width="900px">