<div id="profile_aboutme_description">
    <span class="profile_title">Who am I</span>
    <hr class="section_seperator" align="right" width="520px"><br>
      <%= p.text_area :about_me_description, :size => "70x12", :class => "text_field_default", :placeholder => "Enter a description of yourself" %><br/><br/><br/>

    <span class="profile_title">What am I looking for</span>
    <hr class="section_seperator" align="right" width="520px"><br>
      <%= p.text_area :search_description, :size => "70x12", :placeholder => "Enter an accurate description of what you are looking for (job, location, position, ...)" %>
    <br/>
</div>

 <div id="profile_aboutme_rightside">
    <div id="profile_aboutme_socialnetwork_links">
      <span class="profile_title">Social Network</span>
      <hr class="section_seperator" align="right" width="310px">
      <br/>
      <%= p.fields_for :socialnetwork do |s| %>
        <ul>
          <li><%= image_tag "/images/ico_twitter.png" %>  <%= s.text_field :twitter_link, :placeholder => "Enter your Twitter public account" %></li>
          <li><%= image_tag "/images/ico_facebook.png" %>  <%= s.text_field :facebook_link, :placeholder => "Enter your Facebook public account" %></li>
          <li><%= image_tag "/images/ico_linkedin.png" %>  <%= s.text_field :linkedin_link, :placeholder => "Enter your Linkedin public account"  %></li>
          <li><%= image_tag "/images/ico_viadeo.png" %>  <%= s.text_field :viadeo_link, :placeholder => "Enter your Viadeo public account" %></li>   
          <li><%= image_tag "/images/ico_reachjobs.png" %>  <%= s.text_field :reachjobs_link, :placeholder => "Enter your ReachJobs public account" %></li>
        </ul>
      <% end %>  
    </div>

    <br>
    
    <div id="profile_aboutme_recommendations">
      <span class="profile_title">Recommendations <%= link_to_add_fields("+Add", p, :recommendations, "aboutme") %></span>
      <hr class="section_seperator" align="right" width="310px">
      <br/>
      <div id="list_recommendations">
        <%= p.fields_for :recommendations do |r| %>
          <%= render "shared/profile_aboutme_recommendations", :f => r %>
        <% end %>
      </div>
    </div>
</div>