<%= form_for @profile, :html => { :multipart => true }, :url => user_profile_path do |p|  %>
    <div id="profile_save_or_view">
          <% if flash[:error] %>
              <span class="profile_header_flash"><%= image_tag("/images/ico_error.png") %><%= flash[:error] %></span>
          <% end %>
          <% if flash[:success] %>
              <span class="profile_header_flash"><%= image_tag("/images/ico_success.png") %><%= flash[:success] %></span>
          <% end %>
            <span class="profile_header_save_view">
              <%= link_to image_tag("/images/button_view_profile.png", :mouseover => "/images/button_view_profile_hover.png"), root_path %>
             
              <%= image_submit_tag "/images/button_save_changes.png", 
                :onmouseover => "this.src='/images/button_save_changes_hover.png'", 
                :onmouseout => "this.src='/images/button_save_changes.png'" %>
            </span>
    </div>

    <div id="profile_header">
      <div id="profile_header_idcard">
        
            <div id="profile_header_idcard_photo">
              <% if @profile.photo? %>
                <%= image_tag @profile.photo.url(:small) %>
              <% else %>
                <%= image_tag ("/images/ico_unknown_user.png") %>
              <% end %>  
            </div>
            <div id="profile_header_idcard_description">
              <span class="profile_fullname"><%= current_user.firstname %> <%= current_user.lastname %></span>
                <ul>
                  <li><%= image_tag ("/images/ico_email.png") %> <%= current_user.email %></li>
                  <li><%= image_tag ("/images/ico_phone.png") %> <%= p.text_field :phone, :placeholder => "Enter your phone number" %></li><br/>  
                  <li>Change my picture :</li>
                  <li><%= p.file_field :photo %></li>
                </ul>
            </div> 
      </div>


      <div id="profile_header_description">
          <%= p.label :head_description, "Your Speciality:" %><br/><%= p.text_field :head_description, :size => "60px", :placeholder => "Enter your speciality" %>
          <br/><br/>
          <%= p.label :second_description, "Jobs Wishing:" %><br/><%= p.text_area :second_description, :size => "60x9", :placeholder => "Enter a small description of what kind of job you are looking for." %>
      </div>
    </div>
    <div id="profile_tab">
      <span class="one_tab_empty">
      </span>
      <span class="one_tab_selected">
        <%= link_to_function "About me", "tab_to_display('profile_aboutme')" %>
      </span>
      <span class="one_tab">
         <%= link_to_function "Resume", "tab_to_display('profile_resume')" %>
      </span>
      <span class="one_tab">
        <%= link_to_function "Portfolio", "tab_to_display('profile_portfolio')" %>
      </span>
    </div>

    <hr class="profile_hr" align="right" width="578px" color="black">

    <div id="profile_content">
      <div class="hide">
        <div id="profile_aboutme">
          <%= render "shared/profile_aboutme", :p => p %>
        </div>
      </div>

      <div class="show">
        <div id="profile_resume">
          <%= render "shared/profile_resume", :p => p %>
        </div>
      </div>

      <div class="hide">
        <div id="profile_portfolio">
            PORTFOLIO
        </div>
      </div>
    </div>

<% end %>