<%= render "shared/head_description" %>
<div id="head_description_img">
    <%= image_tag("/images/macbook.png") %>
</div>

<div id="head_description_text">
    <span class="head_title">Free Online Resume and Portfolio Creator</span><br/>
    <span class="second_title">Showcase your experience and your projects</span>

    <ul>
      <li>Simple way to get a free online reference </li>
      <li>Support your job application with an online profile</li>
      <li>Illustrate your projects with Gallery Images</li>
    </ul>
    <span class="view_example">
      <%= image_tag "/images/arrow_view_example.png" %> 
      <%= link_to "View Example", root_url + 'fabricecheng' %>
    </span> 
    <br><br><br><br>
    
</div>


<hr class="index_hr" align="center">
<p class="reachjobs_head_title">Create Your Online Profile in 3 Steps</p>

<div class="reachjobs_step">
  <div class="reachjobs_step_left">
    <%= image_tag "/images/step_aboutme.png" %>
  </div>
  <div class="reachjobs_step_right">
    <p class="reachjobs_step_title">STEP 1  - <span class="highlight">About Me</span></p>
    <p>Introduce your online profile with valuable personal data such as a job interest, social networks and recommendations you've received over the years.<p>
    <p>Display contact information to facilitate an approach by the recruiters.</p>
  </div>
</div>  
    
<div class="reachjobs_step">
  <div class="reachjobs_step_left">
    <%= image_tag "/images/step_resume.png" %>
  </div>
  <div class="reachjobs_step_right">                                                       
    <p class="reachjobs_step_title">STEP 2 - <span class="highlight">Resume</span></p>
      <p>Create your online resume through 6 sections : Skills - Work Experience - Personal Project - Education - Languages - Hobbies  </p>
      <p>Display qualifications and skills you obtained during your education, personal and professional experience.</p>   
      <!--<p>Show that apart work, you have other interests with the hobbies section.</p>-->
  </div>                        
</div>    

<div class="reachjobs_step">
  <div class="reachjobs_step_left">
    <%= image_tag "/images/step_portfolio.png" %>
  </div>
  <div class="reachjobs_step_right">
    <p class="reachjobs_step_title">STEP 3 - <span class="highlight">Portfolio</span></p>
      <p>Showcase your personal and professional projects with an online portfolio.</p>
      <p>Display a quick overview of all projects and their headline.</p>
      <p>Illustrate your projects with image galleries.</p>
  </div>                        
</div> 
<br/>