<%= render "shared/head_description" %>

<div class="edit_form">

  <p class="reachjobs_step_title">Contact Us</p><br><br>  
  Your feedback is very important to us. <br>
  Contact us for any questions, problems or upgrade needs.<br><br>

  <span class="highlight">We need your help to improve ReachJobs !</span>
  <br><br>
  <% if flash[:error] %>
  <span class="profile_header_flash"><%= image_tag("/images/ico_error.png") %><%= flash[:error] %></span><br><br>
  <% end %>
  <% if flash[:success] %>
    <%= image_tag("/images/ico_success.png") %><%= flash[:success] %><br><br>
  <% end %>
  <%= form_for @contact do |f| %>
      <%= f.label :name %> :<br>
      <% if user_signed_in? %>
        <%= f.text_field :name, :size => "60px", :value => current_user.firstname + " " + current_user.lastname %><br>
      <% else %>
        <%= f.text_field :name, :size => "60px" %><br>
      <% end %>  
      <span class="field_error_msg"><%= display_error(@contact, 'name') %></span><br>  
      <%= f.label :email %> :<br>
      <% if user_signed_in? %>
        <%= f.text_field :email, :size => "60px", :value => current_user.email %><br><br>
      <% else %>
        <%= f.text_field :email, :size => "60px" %><br><br>
      <% end %>  
      
      <%= f.label :content, "Message" %> :<br>
      <%= f.text_area :content,  :rows => "10", :cols => "45" %><br>
      <span class="field_error_msg"><%= display_error(@contact, 'content') %></span><br>  

      <div class="edit_submit_field">
              <%= image_submit_tag "/images/button_send_message.png", 
                      :onmouseover => "this.src='/images/button_send_message_hover.png'", 
                      :onmouseout => "this.src='/images/button_send_message.png'", :id => "send_message"  %>         
      </div>
<% end %>

</div>