<span class="profile_title">Personal Projects 
  <% if edit_profile %>
    <%= link_to "+ Add New Project", new_user_profile_project_path(current_user), :class => "add_edit_link" %>
  <% end %>  
</span>
<hr class="section_seperator" align="right" width="900px"><br>
<div class="list_content">
  <% @profile.projects.each do |f| %>
      <div class="fieldsremovable">
        <div class="left_side">
            <% if f.avatar? %>
              <%= image_tag f.avatar.url(:small) %>
            <% else %>
              <%= image_tag ("/images/ico_unknown_project.png") %>
            <% end %>
        </div>
        <div class="right_side">  
          <span class="highlight title"%><%= f.name %></span>
          <% if edit_profile %>
            <%= link_to "Edit", edit_user_profile_project_path(current_user, f.id), :class => "add_edit_link_smaller" %>
            <%= link_to "Delete", user_profile_project_path(current_user, f.id), :class => "remote-delete" %>
          <% end %>  
          <br>

          <span class="headline"><%= f.headline %></span><br>
          <%= simple_format(f.description) %>
          <!-- Skills List -->
            <% f.skills.each do |s| %>
              <div class="one_skill"><%= s.skill_name %></div>
            <% end %>  
        </div>  
        <hr class="content_separator" align="right" width="700px">      
        
        <br><br>
      </div>
      
    <% end %>
</div>
<br/><br>
  
