<span class="profile_title">Skills 
  <% if edit_profile %>
    <%= link_to "+ Add New Skill", new_user_profile_skillcategory_path(current_user), :class => "add_edit_link" %>
  <% end %>  
</span>
<hr class="section_seperator" align="right" width="900px"><br>
<div id="list_skillcategories">
    <% @profile.skillcategories.each do |f| %>
      <div class="skillcategory_fieldsremovable">
        <div class="left_side">
            <%= f.category_name %>
        </div>
        <div class="right_side">
            <% f.skills.each_with_index do |s, index| %>

              <% if index == 0 %>
                <% if index + 1 == f.skills.length %>
                  <span class="highlight"><%= s.skill_name%></span>
                <% else %>
                  <span class="highlight"><%= s.skill_name%></span>,
                <% end %>    
              <% else %>
                <% if index + 1 == f.skills.length %>
                  <%= s.skill_name %>
                <% else %>
                  <%= s.skill_name %>,
                <% end %>  
              <% end %>  
            <% end %>
            <% if edit_profile %>
              <%= link_to "Edit", edit_user_profile_skillcategory_path(current_user, f.id), :class => "add_edit_link_smaller" %>
              <%= link_to "Delete", user_profile_skillcategory_path(current_user, f.id), :class => "remote-delete" %>
            <% end %>  
        </div>  
        <br><br>
        <hr class="content_separator" align="right" width="700px">
        <br><br>
      </div>
      
    <% end %>
</div>
<br/><br>