<script>
  var list_of_skills = <%= raw @skills %>
  $(document).ready(function() {
    $('.skill_autocomplete').each(function(){
        $(this).autocomplete({lookup:list_of_skills});
      });
  });
</script>
<div class="edit_form">
<span class="profile_title">Skills</span>
  <hr class="edit_section_seperator" align="left" width="840px">
  <br/>
  <% if flash[:error] %>
    <span class="profile_header_flash"><%= image_tag("/images/ico_error.png") %><%= flash[:error] %></span><br><br>
  <% end %>
  <%= form_for @skillcategory, :url => user_profile_skillcategories_path do |f| %>
    <%= f.label :category_name %> :<br> <%= f.text_field :category_name, :size => "60px" %><br>
    <span class="field_error_msg"><%= display_error(@skillcategory, 'category_name') %></span><br>
    <span class="like_label">List of skills :</span>

    <div class="list_of_skills">
      <div class="list_of_skills_container">
        <%= f.fields_for :skills do |s| %>
            <%= render "skills/profile_resume_skills",  :f => s %>
        <% end %>
      </div>
      <div class="one_skill_caterogy_to_add">
          <span class="like_label">Add a new skill :</span> <%= text_field_tag 'new_skill', nil, :class => "skill_autocomplete", :placeholder => "Enter skill name" %>
          <%= link_to_add_skill_to_category(image_tag("/images/button_add.png"), f, :skills) %>
      </div>  
    </div>  

    <div class="edit_submit_field">
          <%= link_to image_tag("/images/button_cancel.png", 
                  :mouseover => "/images/button_cancel_hover.png"), show_edit_user_profile_path(current_user) %>         
          <%= image_submit_tag "/images/button_save_changes.png", 
                  :onmouseover => "this.src='/images/button_save_changes_hover.png'", 
                  :onmouseout => "this.src='/images/button_save_changes.png'" %>         
    </div>
  <% end %>
</div>    