<span class="profile_title">Hobbies 
  <% if edit_profile %>
    <%= link_to "+ Add New Hobby", new_user_profile_hobby_path(current_user), :class => "add_edit_link" %>
  <% end %>  
</span>
<hr class="section_seperator" align="right" width="900px"><br>
<div id="list_hobbies">
  <% @profile.hobbies.each do |f| %>
      <div class="hobby_fieldsremovable">
        <div class="left_side">
            <%= f.name %>
        </div>
        <div class="right_side">
          <span class="inline_paragraph">
              <%= simple_format(f.description) %>
              <% if edit_profile %>
                <%= link_to "Edit", edit_user_profile_hobby_path(current_user, f.id), :class => "add_edit_link_smaller" %>
                <%= link_to "Delete", user_profile_hobby_path(current_user, f.id), :class => "remote-delete"  %>
              <% end %>  
          </span>
          <br>
          <br>     
        </div>  
        <hr class="content_separator" align="right">      
        <br><br>
      </div>
      
    <% end %>
</div>
<br/><br>
  
