<%= render "shared/head_description" %>
<br/>

<div id="sign_in_page">
  <!-- Left Part of the Page : Description of the 4 steps -->
  <div id="sign_in_description">
    <h1>Sign in ReachJobs and Then</h1>
    zerezr
    ezrz
    ezrez
    ezrezr
    ezr
    zer
    ezr
    zer
    zer
    zer

  </div>

  <!-- Right Part of the Page : Login Form & Register Form -->
  <div id="sign_in_two_form">
    <!-- Login Form -->
    <div id="login_form">
      <h2>Already on ReachJobs</h2>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
            <div id="login_form_group">
              <div id="login_form_label"><%= f.label :email %>:</div>
              <div id="login_field"><%= f.email_field :email %><br/><span class="field_error_msg"><%= display_error(resource, 'email') %></span></div>
            </div>
            <div id="login_form_group">
              <div id="login_form_label"><%= f.label :password %>:</div>
              <div id="login_field"><%= f.password_field :password %><span class="field_error_msg"><%= display_error(resource, 'email') %></span></div>
            </div>

            <div id="login_form_button">
                <% if devise_mapping.rememberable? -%>
                  <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                <% end -%><br/><br/>

                <%= image_submit_tag "/images/button_sign_in.png",
                  :onmouseover => "this.src='/images/button_sign_in_hover.png'",
                  :onmouseout => "this.src='/images/button_sign_in.png'" %>
                 <br/>

                <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
                  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
                <% end -%>
            </div>
      <% end %>
      <br/>
    </div>
    <br/>
    <!-- Already a Member - Redirect to Register Page -->
    <div id="register_form">
      <h2>No Account Yet ?</h2>
      Free Registration<br/><br/>
      
        <%= link_to image_tag("/images/button_register.png", :mouseover => "/images/button_register_hover.png"), new_user_registration_path %>
  
    </div>
  </div>
    
</div>
<br/>
<br/>

