<span class="profile_title">Eucation 
  <% if edit_profile %>
    <%= link_to "+ Add New School", new_user_profile_school_path(current_user), :class => "add_edit_link" %>
  <% end %>
</span>
<hr class="section_seperator" align="right" width="900px"><br>
<div class="list_content">
  <% @profile.schools.each do |f| %>
      <div class="fieldsremovable">
        <div class="left_side">
            <%= f.start_date.strftime("%B %Y") %> &rarr; 
            <% if f.end_date %>
              <%= f.end_date.strftime("%B %Y") %>
            <% else %>
              Present
            <% end %>
        </div>
        <div class="right_side">
          <span class="highlight title"%><%= f.name %></span>
          <% if edit_profile %>
            <%= link_to "Edit", edit_user_profile_school_path(current_user, f.id), :class => "add_edit_link_smaller" %>
            <%= link_to "Delete", user_profile_school_path(current_user, f.id), :class => "remote-delete" %>
          <% end %>  
          <br>

          <span class="headline"><%= f.field_study %></span><br>
          <span class="date"><%= f.city %>, <%= f.country %></span><br><br>
          <%= f.degree %><br><br>
         </div>  
        <hr class="content_separator" align="right" width="700px">      
        
        <br><br>
      </div>
      
    <% end %>
</div>
<br/><br>
  
