<div class="gallery_images">
  <div class="gallery_images_left">
      <span class="highlight gallery_name"%><%= @gallery.name %></span><br>
      <span class="headline"><%= @gallery.headline %></span><br><br>
      <hr align="left"><br>
      <%= simple_format(@gallery.description) %><br>
      <% @gallery.skills.each do |s| %>
        <span class="one_skill"><%= s.skill_name %></span>
      <% end %>
      <br><br>
      <hr align="left"><br>  
        <%= link_to image_tag("/images/button_back_portfolio.png", 
        :mouseover => "/images/button_back_portfolio_hover.png"), root_url + @gallery.profile.link %>
  <br><br>
  </div>
  <div class="gallery_images_right">
    <div id="slideShowContainer">
        <div id="slideShow">
          <ul>
            <% @gallery.pictures.each do |p| %>
                <li><%= image_tag p.avatar.url(:medium) %></li>
            <% end %>    
          </ul>
        
        </div>   
        <a id="previousLink" href="#">&raquo;</a>
        <a id="nextLink" href="#">&laquo;</a>
        
    </div>
    <br><br>
  </div>          

</div>

