<!DOCTYPE html>
<html>
<head>
  <title>Reachjobs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Header  : Logo + Menu -->
    <div id="header">

      <div id="header_logo">
          <div id="logo">
            <%= link_to image_tag("/images/reachjobs_logo.png"), root_path %>
            <div class="header_text">
              <% if user_signed_in? %>
                Signed in as <%= current_user.email %>. Not you?
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
              <% else %>
                Already a member ? <%= link_to "Sign in", new_user_session_path %>
              <% end %>
            </div>  
        </div>
      </div>

      <div id="header_menu">
          <div id="search_bar">
          </div>
          <div id="search_bar_text">
          </div>
      </div>

    </div>

    
    <div id="main_content">
      <!-- Content : views in app/views/ -->
      <div id="content">
        <%= yield %>

        <!-- Footer -->
        <hr width="850" align="center"> 
        <div id="footer">       
          Website created by Fabrice Cheng. All Rights Reserved.
        </div>
      </div> 
    </div>


</body>
</html>
