<!DOCTYPE html>
<html>
<head>
  <title>Reachjobs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery-1.8.2.min.js", "jquery.autocomplete.js","jquery.scrollTo-1.4.3.1-min", "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
</head>
<script>

$(document).ready(function() {
  $('a.remote-delete').click(function() {
    
    if (confirm("Are you sure you want to delete this Post?"))
        $(this).closest('div[class$=fieldsremovable]').hide(300);
        $.ajax({       
          url: this.href,
          type: 'delete',        
          dataType: 'script',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          success: function() {
          }
        });
    return false;  
  });
});
</script>
<body>
    <!-- Header  : Logo + Menu -->
    <div id="header">

      <div id="header_no_width">
          <div id="header_real_width">
            <div class="header_text">
              <% if user_signed_in? %>
                Signed in as <%= current_user.email %>. Not you?
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
              <% else %>
                Already a member ? <%= link_to "Sign in", new_user_session_path %>
              <% end %>
            </div>  
        </div>
      </div>

      <div id="header_menu_no_width">
          <div id="header_menu_real_width">
            <div id="logo">
              <%= link_to image_tag("/images/reachjobs_logo.png"), root_path %>
            </div>
            <div id="menu_bar">
              <% if current_page?(root_path) %>
                <div class="one_menu"><%= link_to image_tag("/images/menu_home_hover.png", :mouseover => "/images/menu_home_hover.png"), root_path %> </div>
              <% else %>
                <div class="one_menu"><%= link_to image_tag("/images/menu_home.png", :mouseover => "/images/menu_home_hover.png"), root_path %> </div>
              <% end %>
              
              <% if user_signed_in? %>
                  <% if current_page?(show_edit_user_profile_path(current_user)) %>
                      <div class="one_menu"><%= link_to image_tag("/images/menu_my_profile_hover.png", :mouseover => "/images/menu_my_profile_hover.png"), show_edit_user_profile_path(current_user) %> </div>
                  <% else %>
                      <div class="one_menu"><%= link_to image_tag("/images/menu_my_profile.png", :mouseover => "/images/menu_my_profile_hover.png"), show_edit_user_profile_path(current_user) %> </div>
                  <% end %>       
              <% else %>
                  <% if current_page?(new_user_session_path) %>
                    <div class="one_menu"><%= link_to image_tag("/images/menu_sign_in_hover.png", :mouseover => "/images/menu_sign_in_hover.png"), new_user_session_path %> </div>
                  <% else %>
                    <div class="one_menu"><%= link_to image_tag("/images/menu_sign_in.png", :mouseover => "/images/menu_sign_in_hover.png"), new_user_session_path %> </div>
                  <% end %>    
              <% end %>  
              <div class="one_menu"><%= link_to image_tag("/images/menu_about.png", :mouseover => "/images/menu_about_hover.png"), root_path %> </div>
              <div class="one_menu"><%= link_to image_tag("/images/menu_contact.png", :mouseover => "/images/menu_contact_hover.png"), root_path %> </div>    
            </div>
          </div>
      </div>

    </div>

    
    <div id="main_content">
      <!-- Content : views in app/views/ -->
      <div id="content">
        <%= yield %>
        <!-- Footer -->
        <hr width="850" align="center"> 
        <div id="footer">       
          Website created by Fabrice Cheng. All Rights Reserved.
          <br/>
          <br/>
          <br/>
        </div>
      </div> 
    </div>


</body>
</html>
